.item-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .item-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .item-form input, .item-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #6C757D;
  }
  
  button[type="submit"] {
    background-color: #007BFF;
    color: white;
  }
  