.listing-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .listing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-bar-responsive {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .search-bar-responsive {
      width: 50%;
    }
  }
  
  @media (min-width: 992px) {
    .search-bar-responsive {
      width: 35%;
    }
  }
  
  @media (min-width: 1200px) {
    .search-bar-responsive {
      width: 25%;
    }
  }
  
  .search-bar {
    padding-left: 30px; /* Space for the icons */
  }
  
  .search-icon {
 
    color: #8c2776;
  }
  
  .filter-icon {

  
    color: #8c2776;
  }
  
  .add-item-btn {
    padding: 10px 15px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .sorting-controls select {
    
    margin: 10px 0;
  }
  
  .items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .item-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }
  
  .item-card img {
    max-width: 100%;
    height: auto;
  }
  
  .view-item-btn {
    padding: 10px;
    background-color: #28A745;
    color: white;
    border: none;
    cursor: pointer;
  }
  .card:hover
  {
   box-shadow:5px 5px 10px #2575fc;
  }
  
  .pagination-controls {
    text-align: center;
   
  }
  
  .pagination {
    justify-content: center;
    padding: 0;
    margin: 0;
    color: #8c2776;
  }
  
  .pagination li {
    display: inline;
  }
  
  .pagination a,   .pagination i {
    text-decoration: none;
    border-radius: 3px;
    color: #5a1840;
  }
  
  .pagination a:hover {
    background-color: #f0f0f0;
    text-decoration: none;
  }
  
  .pagination .active a {
    background-color: #007bff;
    color: white;
  }
  
  @media (max-width: 768px) {
    .pagination {
        font-size: 12px;
    }
  }
  